#row {
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  margin-top: 5%;
  margin-right: 8%;
}

#button {
  margin-left: 2%;
  float: right;
  display: inline-block;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
