@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, *{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow: -moz-scrollbars-none;
}

mat-card-title {
  margin-bottom: 5%;
}

#total-card {
  margin-right: 8%;
  margin-left: 8%;
}

#empty-block {
  height: 10%;
}

#right {
  align-items: end;
  text-align: right;
}
