<mat-toolbar>
  <span>{{ title }}</span>
</mat-toolbar>

<div id="block_container">

  <div id="block_column">
    <mat-card-title>Input</mat-card-title>
    <p [innerHTML]="phone_bill"></p>
  </div>

  <div id="block_column">
    <mat-card-title>Phone Bill</mat-card-title>

    <div *ngIf="isReady">
      <div *ngFor="let call of call_cost_list">
        <p>{{ call.phone_number }}: {{ call.cost }}</p>
      </div>
    </div>

  </div>

</div>

<p id="empty-block"></p>

<mat-card-title id="total-card" [innerHTML]="'Total Cost: ' + result"></mat-card-title>

